{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title %}
    {% if title is defined %}
        {{ title }}
    {% endif %}
{% endblock %}

{% block main %}
    <form>
        <div class="row">
            {% for elementName, element in children %}
                <div class="col-3 pt-3 pb-3">
                    <div data-element-name="{{ elementName }}" data-uuid="{{ parent }}" class="btn-create card border-0" style="cursor: pointer;">
                        <div class="card-body text-center p-0">
                            <h2><span class="{{ element.icon }}"></span></h2>
                            <h6>{{ elementName|trans({}, 'messages') }}</h6>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
{% endblock %}

{% block content_footer_wrapper %}{% endblock %}
