{% extends '@EasyAdmin/default/layout.html.twig' %}
{% form_theme form '@cms/Form/form_theme.html.twig' %}

{% block main %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% if success %}
    {% else %}
        <div class="mt-5 mb-5">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    {% endif %}
{% endblock %}

{# Hide the Sidebar #}
{% block sidebar %}{% endblock %}
