{% if item.enabled %}
    {% if item.items is defined and item.items %}
        <div class="dropdown d-inline-block">
            <span class="{{ itemClasses|join(' ') }} dropdown-toggle" data-toggle="dropdown" data-bs-toggle="dropdown">
                {{ item.data.title|raw }}
            </span>
            <ul class="dropdown-menu">
                {% set level = level + 1 %}
                {% for item in item.items %}
                    <li>
                        {% include config.menu_items[item.itemName].template %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <a
            {% if item.data.targetBlank is defined and item.data.targetBlank %}
                target="_blank"
                rel="noopener"
            {% else %}
                target="_self"
            {% endif %}
            class="{{ itemClasses|join(' ') }}"
            href="{{ item.data.url }}"
            aria-label="{{ 'admin.label.readMoreAbout'|trans({'%title%': item.data.title|striptags}, 'cms') }}"
        >
            {{ item.data.title|raw }}
        </a>
    {% endif %}
{% endif %}
