
<div class="cms-site-chooser dropdown pt-3 pb-3">
    {% set buttonClasses = 'btn btn-website btn-block text-left p-0 bg-transparent border-0 text-white' %}
    {% if websites|length > 1 %}
        <button class="{{ buttonClasses }} dropdown-toggle" type="button" id="websiteChooser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="row no-gutters align-items-center">
                <div class="col-auto mr-2">
                    <img class="d-block revision-ten-logo" src="/bundles/cms/icons/logo.svg">
                </div>
                <div class="col text-truncate">
                    {% for website in websites %}{{ website.id == currentWebsite ? website.title : '' }}{% endfor %}
                </div>
                <div class="ml-auto col-auto">
                    <span class="fas fa-ellipsis-v"></span>
                </div>
            </div>
        </button>
        <div class="dropdown-menu w-100" style="max-width: 160px;" aria-labelledby="websiteChooser">
            {% for website in websites %}
                <a class="dropdown-item text-truncate" href="{{ path('cms_set_website', {website: website.id}) }}">{{ website.title }}</a>
            {% endfor %}
        </div>
    {% else %}
        <div class="{{ buttonClasses }}">
            <div class="row no-gutters align-items-center">
                <div class="col-auto mr-2">
                    <img class="d-block revision-ten-logo" src="/bundles/cms/icons/logo.svg">
                </div>
                <div class="col-auto">
                    {{ easyadmin_config('site_name')|raw }}
                </div>
            </div>
        </div>
    {% endif %}
</div>
