<tr>
    <td>
        {% if item.data.required is defined and item.data.required %}<span class="fa fa-asterisk text-danger"></span>{% endif %}
    </td>
    <td>
        {% for i in 0 .. level %}{% if i > 0 %}&nbsp;&nbsp;&nbsp;{% endif %}{% endfor %}
        {{ item.data.label }}
        {% if item.data.isSubject is defined and item.data.isSubject %}
            &nbsp; <span style="font-size: 10px;padding: 4px 4px 1px 4px;" class="label label-primary">{{ 'admin.label.subject'|trans({}, 'cms') }}</span>
        {% endif %}
    </td>
    <td>
        {{ item.data.name }}
    </td>
    <td>
        {{ item.itemName|trans }}
    </td>
    <td class="actions">
        <a title="{{ 'admin.btn.shiftUp'|trans({}, 'cms') }}" href="{{ path('forms_shift_item', {formUuid: formAggregate.uuid, onVersion: formAggregate.streamVersion, itemUuid: item.uuid, direction: 'up'}) }}"><span class="fa fa-arrow-up"></span></a>
        <a title="{{ 'admin.btn.shiftDown'|trans({}, 'cms') }}" href="{{ path('forms_shift_item', {formUuid: formAggregate.uuid, onVersion: formAggregate.streamVersion, itemUuid: item.uuid, direction: 'down'}) }}"><span class="fa fa-arrow-down"></span></a>
        <a title="{{ 'admin.btn.edit'|trans({}, 'cms') }}" href="{{ path('forms_edit_item', {formUuid: formAggregate.uuid, onVersion: formAggregate.streamVersion, itemUuid: item.uuid}) }}"><span class="fa fa-edit"></span></a>
        <a title="{{ 'admin.btn.delete'|trans({}, 'cms') }}" href="{{ path('forms_remove_item', {formUuid: formAggregate.uuid, onVersion: formAggregate.streamVersion, itemUuid: item.uuid}) }}" class="text-danger action-delete"><span class="fa fa-trash"></span></a>
    </td>
</tr>

{% if item.items is defined and item.items|length > 0 %}
    {% set level = level + 1 %}
    {% for item in item.items %}
        {% include '@forms/Admin/edit-item.html.twig' %}
    {% endfor %}
{% endif %}
{% if item.itemName == 'Group' %}
    <tr>
        <td colspan="4" class="text-bold small">
            {% set version = formAggregate.streamVersion %}
            {% set uuid = formAggregate.uuid %}
            {% set parent = item.uuid %}
            {% include '@forms/Admin/item-buttons.html.twig' %}
        </td>
    </tr>
{% endif %}
