{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title %}
    {{ 'admin.label.editForm'|trans({'%title%': formAggregate.title}, 'cms') }}
{% endblock %}

{% block flash_messages %}
    {% set flashes = app.session.flashbag.all %}
    {% if flashes is defined and flashes|length > 0 %}
        <div class="container-fluid" style="padding-top: 2em;">
            {% for label, messages in flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message|trans({}, 'cms')|raw }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock flash_messages %}

{% block main %}
    <div class="p-3">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="nav-item"><a class="nav-link active" href="#fields" aria-controls="fields" role="tab" data-toggle="tab">{{ 'admin.label.formFields'|trans({}, 'cms') }}</a></li>
            <li role="presentation" class="nav-item"><a class="nav-link" href="#settings" aria-controls="settings" role="tab" data-toggle="tab">{{ 'admin.label.formSettings'|trans({}, 'cms') }}</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="fields">
                <table class="table datagrid">
                    <thead>
                        <tr>
                            <th>
                                <span>{{ 'admin.label.required'|trans({}, 'cms') }}</span>
                            </th>
                            <th>
                                <span>{{ 'admin.label.label'|trans({}, 'cms') }}</span>
                            </th>
                            <th>
                                <span>{{ 'admin.label.name'|trans({}, 'cms') }}</span>
                            </th>
                            <th>
                                <span>{{ 'admin.label.type'|trans({}, 'cms') }}</span>
                            </th>
                            <th>
                                <span class="sr-only">{{ 'admin.label.actions'|trans({}, 'cms') }}</span>
                            </th>
                        </tr>
                    </thead>
                    {% for item in formAggregate.items %}
                        {% set level = 0 %}
                        {% include '@forms/Admin/edit-item.html.twig' %}
                    {% endfor %}
                </table>
                <hr/>
                <div>
                    {% set version = formAggregate.streamVersion %}
                    {% set uuid = formAggregate.uuid %}
                    {% set parent = null %}
                    {% include '@forms/Admin/item-buttons.html.twig' %}
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="settings">
                {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.email) }}
                {{ form_row(form.sender) }}
                {{ form_row(form.emailTemplate) }}
                {{ form_row(form.html) }}
                {# Check if the form is displayed horizontally (EasyCMS) or vertically #}
                <div class="form-group">
                    <script type="text/javascript">
                        // Script to select all text in clicked DOM element.
                        function selectText(containerid) {
                            if (document.selection) {
                                var range = document.body.createTextRange();
                                range.moveToElementText(document.getElementById(containerid));
                                range.select();
                            } else if (window.getSelection) {
                                var range = document.createRange();
                                range.selectNode(document.getElementById(containerid));
                                window.getSelection().removeAllRanges();
                                window.getSelection().addRange(range);
                            }
                        }
                    </script>
                    <div>
                        <p>
                            {# TODO: Support child items #}
                            {{ 'Available variables'|trans }}:<br/>
                            {% for key, vars in itemVariables %}
                                {% for var in vars %}
                                    <code id="var-{{ key~loop.index }}" onclick="selectText('var-{{ key~loop.index }}')" class="text-nowrap">{% verbatim %}{{{% endverbatim %} {{ var }} {% verbatim %}}}{% endverbatim %}</code>
                                {% endfor %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
                {{ form_row(form.successText) }}
                <div>
                    <div class="form-group">
                        <h4>{{ 'admin.label.advancedOptions'|trans({}, 'cms') }}</h4>
                    </div>
                    {{ form_row(form.template) }}
                    {{ form_row(form.emailCC) }}
                    {{ form_row(form.emailBCC) }}
                    {{ form_row(form.emailTemplateCopy) }}
                    {{ form_row(form.timelimit) }}
                    {{ form_row(form.timeLimitMessage) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block content_footer_wrapper %}
    {# Replace with nothing, because the footer is not needed here. #}
{% endblock %}
