{% extends '@EasyAdmin/default/layout.html.twig' %}
{% import _self as macros %}
{% macro groupedEvents(eventObjects) %}
    <table class="table datagrid border-0">
        {% for userId, events in eventObjects %}
            <tr>
                <td style="width: 4rem;padding-right: 0;vertical-align: top;">
                    {% set value = userId %}
                    <div class="pt-1">
                        {% include '@cms/Admin/User/List/medium.html.twig' %}
                    </div>
                </td>
                <td class="small">
                    {% for event in events|slice(0, 3) %}
                        {% set groupedEvent = {} %}
                        <div class="row mb-1">
                            <div class="col">
                                {{ event.payload.message is defined ? event.payload.message|trans : event.message|trans }}<br/>
                                <span class="text-muted">
                                    {% set value = event.uuid %}{% include '@cms/Admin/User/List/uuid.html.twig' %}
                                </span>
                            </div>
                            <div class="col text-right">
                                {% set value = event.created %}{% include '@cms/Admin/Event/List/datetime_ago.html.twig' %}
                            </div>
                        </div>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% block content_title %}
    {{ 'Dashboard'|trans }}
{% endblock %}

{% block body_class %}dashboard{% endblock %}

{% block main %}
<div class="p-3">
    <div class="row align-items-stretch">
        <div class="col col-sm-6 d-flex flex-column">
            <div class="flex-grow-1 card mb-3">
                <div class="card-header p-3">
                    <h6>
                        {{ 'Latest Commits'|trans }}
                    </h6>
                </div>
                <div class="card-body">
                    {{ macros.groupedEvents(latestCommits) }}
                </div>
            </div>

            <div class="flex-grow-1 card mb-3">
                <div class="card-header p-3">
                    <h6>
                        {{ 'Latest Events'|trans }}
                    </h6>
                </div>
                <div class="card-body">
                    {{ macros.groupedEvents(eventStreamObjects) }}
                </div>
            </div>

            {% if eventQeueObjects|length > 0 %}
                <div class="flex-grow-1 card mb-3">
                    <div class="card-header p-3">
                        <h6>
                            {{ 'Latest Draft Events'|trans }}
                        </h6>
                    </div>
                    <div class="card-body">
                        {{ macros.groupedEvents(eventQeueObjects) }}
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="col col-sm-6 d-flex flex-column">
            <div class="flex-grow-1 card mb-3">
                <div class="card-header p-3">
                    <h6>
                        {{ 'System Information'|trans }}
                    </h6>
                </div>
                <div class="card-body">
                    <table class="table datagrid border-0">
                        <tr>
                            <td><span class="fas fa-pencil-ruler"></span> CMS Version: </td>
                            <td>{{ cms_version }}</td>
                        </tr>
                        <tr>
                            <td><img style="height: 1em;" class="svg-inline--fa" src="{{ asset('bundles/cms/icons/symfony.svg') }}"> Symfony Version: </td>
                            <td>{{ symfony_version }}</td>
                        </tr>
                        <tr>
                            <td><span class="fab fa-php"></span> PHP Version: </td>
                            <td>{{ php_version }}</td>
                        </tr>
                        <tr>
                            <td><span class="fas fa-rocket"></span> PHP Acceleration: </td>
                            <td>{{ apc_enabled }}</td>
                        </tr>
                        <tr>
                            <td><span class="fas fa-microchip"></span> PHP Memory Limit: </td>
                            <td>{{ memory_limit }}</td>
                        </tr>
                        <tr>
                            <td><span class="fas fa-upload"></span> PHP Upload Max File Size: </td>
                            <td>{{ upload_limit }}</td>
                        </tr>
                        <tr>
                            <td><span class="fas fa-upload"></span> PHP Post Max Size: </td>
                            <td>{{ post_limit }}</td>
                        </tr>
                        <tr>
                            <td><span class="fas fa-hourglass-half"></span> PHP Max Execution Time: </td>
                            <td>{{ execution_limit }} sec</td>
                        </tr>
                        <tr>
                            <td><span class="fas fa-file"></span> Page Cache: </td>
                            <td>{{ (shm_enabled ? '<span title="shm_key: '~shm_key~'">enabled</span>' : '<span class="badge" style="background: red;">disabled</span>')|raw }}</td>
                        </tr>
                        <tr>
                            <td><span class="fas fa-info-circle"></span> Server IP: </td>
                            <td>{{ server_ip }}</td>
                        </tr>
                        <tr>
                            <td><span class="fas fa-database"></span> Database: </td>
                            <td>{{ database_name }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
