{% set root = element.uuid is not defined %}

<div class="cms_tree"
    {% if root == false %}
        data-uuid="{{ element.uuid }}"
        data-children="{{ element.supportChildTypes|join(',') }}"
    {% endif %}
>
    {% if tree is defined and tree|length > 0 %}
        {% for element in tree %}
            {% include '@cms/Admin/tree-node.html.twig' %}
        {% endfor %}
    {% endif %}

    {% if root %}
        <input type="hidden" id="tree-pageUuid" value="{{ pageUuid }}">
        <input type="hidden" id="tree-onVersion" value="{{ onVersion }}">
        <button class="hidden btn-tree-save btn-success btn btn-block btn-sm">{{ 'Save element order'|trans }}</button>
    {% endif %}
</div>
