<div style="max-height: 500px;overflow-y: auto;" class="w-100">
    <table class="table table-condensed table-bordered table-striped table-sm m-0 p-0 w-100">
        <tr>
            <th>{{ 'Title'|trans }}</th>
            <th>{{ 'MimeType'|trans }}</th>
            <th>{{ 'Size'|trans }}</th>
            <th>{{ 'Actions'|trans }}</th>
        </tr>
        {% for file in files %}
            <tr>
                <td><a href="{{ file.path }}" target="_blank">{{ file.title }}</a></td>
                <td>
                    {{ file.mimeType ? file.mimeType : '' }}
                </td>
                <td>
                    {{ file.size ? ((file.size / 1000)|number_format(2)) ~ ' KB' : '' }}
                </td>
                <td>
                    <a href="#" data-title="{{ file.title }}" data-uuid="{{ file.uuid }}" data-version="{{ file.version }}" class="btn-file-select">
                        <span class="far fa-check-square"></span>
                        <strong>{{ 'Select'|trans }}</strong>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
