<div class="card flex-grow-1">
    <div class="card-header bg-white">
        <div class="row align-items-center">
            <div class="col">
                <h5 class="card-title m-0">
                    {{ 'filepicker.label.pleaseChoose'|trans({}, 'cms') }}
                </h5>
            </div>
            <div class="col-auto ml-auto">
                <button class="btn cms-file-picker-close">
                    <span class="fas fa-times"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body position-relative p-0">
        <div class="cms-file-picker-body p-3">
            <div class="row">
                {% for file in files %}
                    <div class="col-2 pt-3 pb-3">
                        {% if file.isImage %}
                            {% set thumbPath = file.mimeType == 'image/svg' ? file.path : web_image(file.path).scaleResize(400, 400).png() %}
                        {% else %}
                            {% set thumbPath = false %}
                        {% endif %}
                        <button class="btn-block btn bg-white border pt-2"
                                data-file-path="{{ file.path }}"
                                data-thumb-path="{{ thumbPath }}"
                                data-uuid="{{ file.uuid ?? '' }}"
                                data-version="{{ file.version ?? '' }}"
                                data-title="{{ file.title }}"
                                data-mime-type="{{ file.mimeType }}"
                                data-size="{{ file.size }}"
                                data-width="{{ file.payload.width ?? '' }}"
                                data-height="{{ file.payload.height ?? '' }}"
                        >
                            <figure class="figure d-block m-0">
                                {% if thumbPath %}
                                    <img class="figure-img d-block img-fluid rounded m-0"
                                         alt="{{ file.title }}"
                                         src="{{ thumbPath }}"
                                    >
                                {% else %}
                                    <div class="d-block rounded position-relative m-0" style="background: #fff;padding-bottom: 100%;">
                                        <div class="position-absolute h-100 w-100 d-flex align-items-center justify-content-center">
                                            <div style="font-size: 50px;" class="text-muted">
                                                <span class="fas fa-file"></span>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <figcaption class="mt-2 figure-caption text-truncate">{{ file.title }}</figcaption>
                            </figure>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
