{% set root = element.uuid is not defined %}

<div class="cms_tree"
    {% if root == false %}
        data-uuid="{{ element.uuid }}"
        data-children="{{ element.supportChildTypes|join(',') }}"
    {% endif %}
>
    {% if tree is defined and tree|length > 0 %}
        {% for element in tree %}
            {% include '@cms/Admin/Page/Tree/tree-node.html.twig' %}
        {% endfor %}
    {% endif %}
</div>

{% if root %}
    <div class="align-self-end p-3 d-none w-100">
        <input type="hidden" id="tree-pageUuid" value="{{ pageUuid }}">
        <input type="hidden" id="tree-onVersion" value="{{ onVersion }}">
        <button class="btn-tree-save btn-success btn btn-block btn-sm">{{ 'admin.btn.saveElementOrder'|trans({}, 'cms') }}</button>
    </div>
{% endif %}
