<form method="get">
    <div class="input-group mb-3">
        <input type="text" placeholder="{{ 'admin.label.searchTerm'|trans({}, 'cms') }}" class="form-control" name="q" value="{{ query }}">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
        </div>
    </div>
</form>

{% if results %}
    <p class="lead">
        {% if results.numFound == 1 %}
            {{ 'admin.label.searchOneResult'|trans({'%query%': query}, 'cms') }}:
        {% elseif results.numFound > 1 %}
            {{ 'admin.label.searchSomeResults'|trans({'%query%': query, '%count%': results.numFound}, 'cms') }}:
        {% else %}
            {{ 'admin.label.searchNoResults'|trans({'%query%': query}, 'cms') }}.
        {% endif %}
    </p>

    <ul class="list-group">
        {% for result in results.pages %}
            {% if result.url_s is defined %}
                <li class="list-group-item">
                    <a href="{{ result.url_s }}">
                        {{ result.title_s }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p>
        <strong>{{ 'admin.label.noSearchTerm'|trans({}, 'cms') }}.</strong>
    </p>
{% endif %}
