<div {{ editorAttr(element, edit, 'bg-info') }} class="{{ elementClasses(element) }}">
    {% set iframeMarkup = '<iframe title="Youtube Video" class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/'~element.data.youtubeId~'?rel=0" allowfullscreen allow="autoplay; encrypted-media"></iframe>' %}
    {% set id = 'youtube-'~element.uuid %}

    <div id="{{ id }}" class="embed-responsive embed-responsive-16by9 ratio ratio-16x9">
        {% if element.data.optin is defined and element.data.optin %}
            <div class="embed-responsive-item bg-light d-flex justify-content-center align-items-center" >
                <div class="text-center">
                    <p class="small">
                        {{ 'admin.label.youtubeEmbedWarning'|trans({'%link%': 'https://policies.google.com/privacy?hl=de&amp;gl=de'}, 'cms')|raw }}
                    </p>
                    <button class="btn btn-primary" onclick="document.getElementById('{{ id }}').innerHTML = '{{ iframeMarkup }}'">{{ 'admin.label.enableVideo'|trans({}, 'cms') }}</button>
                </div>
            </div>
        {% else %}
            {{ iframeMarkup|raw }}
        {% endif %}

    </div>
</div>
