{% extends "bootstrap_5_layout.html.twig" %}

{% block form_widget %}
    {{- block('cms_shift_buttons') -}}

    {% if compound %}
        {{- block('form_widget_compound') -}}
    {% else %}
        {{- block('form_widget_simple') -}}
    {% endif %}
{% endblock form_widget %}

{% block form_row %}
    {% if compound is defined and compound %}
        {# Put a border around fieldsets. #}
        {% set row_class_default = 'border rounded p-3 mb-3' %}
        {% set row_class = row_class is defined ? row_class ~ ' ' ~ row_class_default: row_class_default %}
    {% endif %}
    {{ parent() }}
{% endblock form_row %}

{% block form_help -%}
    {%- if help is not empty -%}
        {% set help_attr = help_attr is defined ? help_attr : {} %}
        {%- set help_attr = help_attr|merge({class: (help_attr.class|default('') ~ ' form-text text-muted w-100')|trim}) -%}
        <small id="{{ id }}_help"{% with { attr: help_attr } %}{{ block('attributes') }}{% endwith %}>
            {%- if translation_domain is same as(false) -%}
                {{- help|raw -}}
            {%- else -%}
                {{- help|trans({}, translation_domain)|raw -}}
            {%- endif -%}
        </small>
    {%- endif -%}
{%- endblock form_help %}

{% block datetime_widget -%}
    {%- if widget == 'single_text' -%}
        {{- block('form_widget_simple') -}}
    {%- else -%}
        {% if not valid %}
            {% set attr = attr|merge({class: (attr.class|default('') ~ ' is-invalid')|trim}) -%}
            {% set valid = true %}
        {% endif %}
        <div {{ block('widget_container_attributes') }}>
            <div class="row gx-2">
                <div class="col">
                    {% set dateAttr = (form.date.attr|default({}))|merge({ lang: app.request.locale, 'data-date-format': 'yyyy-mm-dd', placeholder: 'JJJJ-MM-TT' }) %}
                    {{- form_widget(form.date, { datetime: true, attr: dateAttr } ) -}}
                    {{- form_errors(form.date) -}}
                </div>
                <div class="col">
                    {% set timeAttr = (form.time.attr|default({}))|merge({ lang: app.request.locale, placeholder: '--:--' }) %}
                    {{- form_widget(form.time, { datetime: true, attr: timeAttr } ) -}}
                    {{- form_errors(form.time) -}}
                </div>
            </div>
        </div>
    {%- endif -%}
{%- endblock datetime_widget %}

{% block choice_widget_expanded %}
    <div {{ block('widget_container_attributes') }}>
        {% for group_label, choice in choices %}
            {%- if choice is iterable -%}
                {# Grouped expanded choices #}
                <fieldset>
                    <legend>
                        {{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}
                    </legend>
                    {% for key, choice in choice.choices %}
                        {{- form_widget(form[key], {
                            parent_label_class: label_attr.class|default(''),
                            translation_domain: choice_translation_domain,
                            valid: valid,
                        }) -}}
                    {% endfor %}
                </fieldset>
            {%- else -%}
                {{- form_widget(form[group_label], {
                    parent_label_class: label_attr.class|default(''),
                    translation_domain: choice_translation_domain,
                    valid: valid,
                }) -}}
            {%- endif -%}
        {% endfor %}
    </div>
{% endblock %}

{% block checkbox_radio_label -%}
    {#- Do not display the label if widget is not defined in order to prevent double label rendering -#}
    {%- if widget is defined -%}
        {% set is_parent_custom = parent_label_class is defined and ('checkbox-custom' in parent_label_class or 'radio-custom' in parent_label_class) %}
        {% set is_custom = label_attr.class is defined and ('checkbox-custom' in label_attr.class or 'radio-custom' in label_attr.class) %}
        {%- if is_parent_custom or is_custom -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' custom-control-label')|trim}) -%}
        {%- else %}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' form-check-label')|trim}) -%}
        {%- endif %}
        {%- if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {%- if required -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) -%}
        {%- endif -%}
        {%- if parent_label_class is defined -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|replace({'checkbox-inline': '', 'radio-inline': '', 'checkbox-custom': '', 'radio-custom': ''})|trim}) -%}
        {%- endif -%}
        {%- if label is not same as(false) and label is empty -%}
            {%- if label_format is not empty -%}
                {%- set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) -%}
            {%- else -%}
                {%- set label = name|humanize -%}
            {%- endif -%}
        {%- endif -%}

        {{ widget|raw }}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{- label is not same as(false) ? (translation_domain is same as(false) ? label : label|trans({}, translation_domain))|raw -}}
        {{- form_errors(form) -}}
        </label>
    {%- endif -%}
{%- endblock checkbox_radio_label %}

{% block collection_row %}
    {{ block('form_row') }}

    {% if allow_add|default(false) %}
        {% set js_add_item %}
            $(function() {
            event.preventDefault();

            var collection = $('#{{ id }}');

            /* Update index of all collection items */
            collection.children().each(function() {
            let collectionName = '{{ name }}';
            {{ block('update_collection_index_script') }}
            });

            var numItems = collection.children().length;
            var newItem = collection.attr('data-prototype')
            .replace(/\>{{ prototype.vars.name }}label__\</g, '>' + numItems + '<')
            .replace(/_{{ name }}_{{ prototype.vars.name }}/g, '_{{ name }}_' + numItems)
            .replace(/{{ name }}\]\[{{ prototype.vars.name }}\]/g, '{{ name }}][' + numItems + ']')
            ;

            collection.append(newItem).trigger('easyadmin.collection.item-added');
            });
        {% endset %}

        <div class="text-end field-collection-action mb-3">
            <span onclick="{{ js_add_item|raw }}" class="btn btn-secondary border">
                <i class="fa fa-plus-square"></i>
                {{ 'admin.btn.addNewItem'|trans({}, 'cms') }}
            </span>
        </div>
    {% endif %}
{% endblock collection_row %}

{% block cms_opening_hours_specification_widget -%}
    {{- block('cms_shift_buttons') -}}

    {% if compound %}
        <div {{ block('widget_container_attributes') }}>
            {%- if form is rootform -%}
                {{ form_errors(form) }}
            {%- endif -%}

            <div class="row gx-2 w-100">
                <div class="col">
                    {{ form_row(form.dayOfWeek) }}
                </div>
                <div class="col">
                    <div class="row gx-2 w-100">
                        <div class="col">
                            {{ form_row(form.opens) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.closes) }}
                        </div>
                    </div>
                    <div class="row gx-2 w-100">
                        <div class="col">
                            {{ form_row(form.validFrom) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.validThrough) }}
                        </div>
                    </div>
                </div>
            </div>

            {{- block('form_rows') -}}

            {{- form_rest(form) -}}
        </div>
    {% else %}
        {{- block('form_widget_simple') -}}
    {% endif %}
{%- endblock cms_opening_hours_specification_widget %}

{% block cms_ckeditor_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control ckeditor-custom')|trim}) %}
    {% set attr = attr|merge({'data-config': config|json_encode}) %}
    {{- block('textarea_widget') -}}
{%- endblock cms_ckeditor_widget %}

{%- block cms_trix_widget -%}
    <div class="w-100">
        {%- set type = type|default('hidden') -%}
        {{ block('form_widget_simple') }}
        <trix-editor input="{{ id }}"></trix-editor>
    </div>
{%- endblock cms_trix_widget -%}

{%- block cms_doctrine_widget -%}
    <div>
        {{ form_widget(form.entityId) }}
    </div>
    {{ form_errors(form.entityId) }}
    {{ form_widget(form.entityClass) }}
    {{ form_errors(form.entityClass) }}
{%- endblock cms_doctrine_widget -%}

{%- block cms_meta_row -%}
    {{ form_widget(form) }}
    {{ form_errors(form) }}
{%- endblock cms_meta_row -%}

{%- block cms_doctrine_row -%}
    <div class="mb-3">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{%- endblock cms_doctrine_row -%}

{% block cms_upload_widget %}
    {% set file = value.file ?? null %}
    {% set mimeType = value.mimeType ?? null %}
    {% if file and file is not iterable %}
        {% set fileEnding = file|split('.')|last %}
        {% set isSVG = fileEnding|lower == 'svg' %}
        {% if (fileEnding|lower in ['jpeg', 'jpg', 'png', 'gif', 'svg']) or (mimeType in ['image/jpeg', 'image/png', 'image/gif']) %}
            <a href="{{ file }}" class="d-block mt-0 mb-2" target="_blank">
                <img id="cms-img-{{ form.file.vars.id }}"
                     style="width:200px;height:200px;"
                     width="200"
                     height="200"
                     class="rounded img-thumbnail mb-3"
                     src="{{ isSVG ? file : web_image(file).scaleResize(400, 400).png() }}"
                >
            </a>
        {% else %}
            <a href="{{ file }}" class="d-block mt-0 mb-2" target="_blank">
                <kbd>{{ file|split('/')|last }}</kbd>
            </a>
        {% endif %}
    {% else %}
        <img id="cms-img-{{ form.file.vars.id }}"
             style="width:200px;height:200px;"
             width="200"
             height="200"
             class="d-none rounded img-thumbnail mb-3"
             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAQAAAAHUWYVAAABJklEQVR42u3RMQEAAAzCsOHf9ExwcKQSmpymigVABASIgAARECACAkRABASIgAARECACAkRABASIgAARECACAkRABASIgAARECACAkRABASIgAARECACAkRABASIgAARECACAkRABASIgAARECACAkRABASIgAARECACAkRABASIgAARECACAkRABASIgAARECACAkRAgAiIgAARECACAkRAgAiIgAARECACAkRAgAiIgAARECACAkRAgAiIgAARECACAkRAgAiIgAARECACAkRAgAiIgAARECACAkRAgAiIgAARECACAkRAgAiIgAARECACAkRAgAiIgAARECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkRAgAgIEAERECACAkTNHj1QAMnlJD2WAAAAAElFTkSuQmCC"
        >
    {% endif %}

    {% if show_file_picker and is_granted('file_list') and form.uploadedFile is defined and form.file is defined %}
        <div class="row gx-2 w-100 align-items-center">
            <div class="col">
                {{ form_widget(form.uploadedFile) }}
                {{ form_errors(form.uploadedFile) }}
            </div>
            <div class="col-auto">
                <button class="btn btn-secondary border"
                        data-file-picker="{{ form.vars.id }}"
                        data-file-picker-upload="{{ form.uploadedFile.vars.id }}"
                        {% if file_picker_mime_types %}
                            data-file-picker-mime-types="{{ file_picker_mime_types|join(',') }}"
                        {% endif %}
                >
                    <span class="fas fa-folder"></span>
                </button>
            </div>
        </div>
    {% endif %}

    {{ block('form_widget') }}
{% endblock cms_upload_widget %}

{% block cms_shift_buttons %}
    {% if form.parent.vars.allow_delete|default(false) %}
        {% set shift_item_up_javascript %}
            $(function() {
                if (event.preventDefault) event.preventDefault(); else event.returnValue = false;

                var containerDiv = $('#{{ id }}').parent();
                var parentDiv = containerDiv.parents('[data-prototype]:first');

                /* Shift item up */
                containerDiv.insertBefore(containerDiv.prev());

                /* Update index of all collection items */
                parentDiv.children().each(function() {
                    let collectionName = '{{ form.parent.vars.name }}';
                    {{ block('update_collection_index_script') }}
                });
            });
        {% endset %}
        {% set shift_item_down_javascript %}
            $(function() {
                if (event.preventDefault) event.preventDefault(); else event.returnValue = false;

                var containerDiv = $('#{{ id }}').parent();
                var parentDiv = containerDiv.parents('[data-prototype]:first');

                /* Shift item down */
                containerDiv.insertAfter(containerDiv.next());

                /* Update index of all collection items */
                parentDiv.children().each(function() {
                    let collectionName = '{{ form.parent.vars.name }}';
                    {{ block('update_collection_index_script') }}
                });
            });
        {% endset %}
        {% set remove_item_javascript %}
            $(function() {
                if (event.preventDefault) event.preventDefault(); else event.returnValue = false;

                var containerDiv = $('#{{ id }}').parent();
                var parentDiv = containerDiv.parents('[data-prototype]:first');
                containerDiv.remove();

                /* Update index of all collection items */
                parentDiv.children().each(function() {
                    let collectionName = '{{ form.parent.vars.name }}';
                    {{ block('update_collection_index_script') }}
                });
            });
        {% endset %}
        <div class="text-end field-collection-item-action">
            <span title="{{ 'admin.btn.shiftUp'|trans({}, 'cms') }}" onclick="{{ shift_item_up_javascript|raw }}" class="btn btn-sm">
                <i class="fas fa-arrow-circle-up"></i>
            </span>
            <span title="{{ 'admin.btn.shiftDown'|trans({}, 'cms') }}" onclick="{{ shift_item_down_javascript|raw }}" class="btn btn-sm">
                <i class="fas fa-arrow-circle-down"></i>
            </span>
            <span title="{{ 'admin.btn.removeItem'|trans({}, 'cms') }}" onclick="{{ remove_item_javascript|raw }}" class="btn btn-sm text-danger">
                <i class="fas fa-times-circle"></i>
            </span>
        </div>
    {% endif %}
{% endblock cms_shift_buttons %}

{% block cms_spacing_widget %}
    {{- block('cms_shift_buttons') -}}
    <div id="{{ form.vars.id }}">
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="w-100">
                    {{ form_widget(form.top) }}
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-4">
                <div class="w-100">
                    {{ form_widget(form.left) }}
                </div>
            </div>
            <div class="col-4">
                <div class="w-100">
                    {{ form_widget(form.breakpoint) }}
                </div>
            </div>
            <div class="col-4">
                <div class="w-100">
                    {{ form_widget(form.right) }}
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="w-100">
                    {{ form_widget(form.bottom) }}
                </div>
            </div>
        </div>
    </div>
{% endblock cms_spacing_widget %}

{% block update_collection_index_script %}
    var index = $(this).index();

    let idSearchStr = new RegExp('\\_'+collectionName+'_(\\d+)\\_', 'g');
    let idReplaceStr = '_'+collectionName+'_'+index+'_';

    let nameSearchStr = new RegExp('\\['+collectionName+'\\]\\[(\\d+)\\]', 'g');
    let nameReplaceStr = '['+collectionName+']['+index+']';

    $(this).find('[name]').each(function() {
        var input = $(this);
        var newAttr = input.attr('name').replace(nameSearchStr, nameReplaceStr);
        input.attr('name', newAttr);
    });
    $(this).find('[id]').each(function() {
        var input = $(this);
        var newAttr = input.attr('id').replace(idSearchStr, idReplaceStr);
        input.attr('id', newAttr);
    });
    $(this).find('[data-file-picker-upload]').each(function() {
        var input = $(this);
        var newAttr = input.attr('data-file-picker-upload').replace(idSearchStr, idReplaceStr);
        input.attr('data-file-picker-upload', newAttr);
    });
    $(this).find('[data-file-picker]').each(function() {
        var input = $(this);
        var newAttr = input.attr('data-file-picker').replace(idSearchStr, idReplaceStr);
        input.attr('data-file-picker', newAttr);
    });
{% endblock update_collection_index_script %}
