
{% if type == 'boolean' %}
    {% if value is null %}
        <span class="badge bg-secondary">
            {{ 'admin.value.typeNull'|trans({}, 'cms') }}
        </span>
    {% elseif value  %}
        <span class="badge bg-success">
            {{ 'admin.value.typeTrue'|trans({}, 'cms') }}
        </span>
    {% else %}
        <span class="badge bg-danger">
            {{ 'admin.value.typeFalse'|trans({}, 'cms') }}
        </span>
    {% endif %}
{% elseif type == 'collection' %}
    <span class="badge bg-secondary">
        {{ value|length }}
    </span>
{% elseif type == 'date' %}
    {{ value is not null ? value|date('d.m.Y') : '-' }}
{% elseif type == 'datetime' %}
    {{ value is not null ? value|date('d.m.Y H:i') : '-' }}
{% elseif type == 'object' %}
    {{ value is not null ? value : '-' }}
{% else %}
    {{ value is not null ? value : '-' }}
{% endif %}
