
{% set route = app.request.get('_route') %}

<div class="pagination-wrapper py-3 px-4 border-bottom">
    <input type="hidden" name="page" value="{{ app.request.query.get('page') }}">
    {% if entity is defined and entity %}
        <input type="hidden" name="entity" value="{{ entity }}">
    {% endif %}
    <div class="row align-items-center">
        <div class="col-auto small">
            {{ 'pagination.currentPage'|trans({
                '%current%': page + 1,
                '%total%': numPages,
            }, 'cms') }}
        </div>
        <div class="ms-auto col-auto small">
            <div class="row gx-2 align-items-center">
                <div class="col-auto">
                    {{ 'pagination.resultsPerPage'|trans({}, 'cms') }}
                </div>
                <div class="col-auto">
                    {% set options = [10, 20, 50, 100, 1000] %}
                    <select name="resultsPerPage" class="form-select form-select-sm" onchange="this.form.submit()">
                        {% for key, option in options %}
                            <option {% if resultsPerPage == option %}selected{% endif %} value="{{ option }}">{{ option }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        {% if numPages > 1 %}
        <div class="col-auto">
            <nav>
                <ul class="pagination pagination-sm my-0">

                    {% set currentPageIsInLast3 = page > numPages - 3 %}
                    {% set currentPageIsInLast4 = page > numPages - 4 %}
                    {% set currentPageIsInLast5 = page > numPages - 5 %}

                    {% set currentPageIsInFirst3 = page < 3 %}
                    {% set currentPageIsInFirst4 = page < 4 %}


                    {% if page > 0 %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ path(route, app.request.query.all|merge({
                                    page: page-1
                                })) }}"
                               aria-label="{{ 'pagination.prev'|trans({}, 'cms') }}"
                            >
                                <span class="fas fa-chevron-left"></span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link"
                                aria-label="{{ 'pagination.prev'|trans({}, 'cms') }}"
                            >
                                <span class="fas fa-chevron-left"></span>
                            </span>
                        </li>
                    {% endif %}

                    {% if page > 0 and currentPageIsInFirst3 == false %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ path(route, app.request.query.all|merge({
                                    page: 0
                               })) }}"
                               aria-label="{{ 'pagination.first'|trans({}, 'cms') }}"
                            >
                                1
                                {% if currentPageIsInFirst4 == false %}
                                ...
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}

                    {% for p in 1..numPages %}
                        {% set isGreaterThanMinus3 = (p-1) > (page-3) %}
                        {% set isLessThanPlus3 = (p-1) < (page+3)  %}

                        {% set isInLast6 = p > numPages - 6 %}
                        {% set isInFirst6 = p < 6 %}

                        {% if (isGreaterThanMinus3 or (currentPageIsInLast3 and isInLast6)) and (isLessThanPlus3 or (currentPageIsInFirst3 and isInFirst6)) %}
                            <li class="page-item {{ (p-1) == page ? 'active' : '' }}">
                                <a class="page-link" href="{{ path(route, app.request.query.all|merge({
                                    page: p-1
                                })) }}">
                                    {{ p }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% set isNotLast = page < numPages-1 %}

                    {% if isNotLast and currentPageIsInLast4 == false %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ path(route, app.request.query.all|merge({
                                    page: numPages-1
                                })) }}"
                                aria-label="{{ 'pagination.last'|trans({}, 'cms') }}"
                            >
                                {% if currentPageIsInLast5 == false %}
                                    ...
                                {% endif %}
                                {{ numPages }}
                            </a>
                        </li>
                    {% endif %}

                    {% if isNotLast %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path(route, app.request.query.all|merge({
                                    page: page+1
                                })) }}"
                               aria-label="{{ 'pagination.next'|trans({}, 'cms') }}"
                            >
                                <span class="fas fa-chevron-right"></span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link"
                                  aria-label="{{ 'pagination.next'|trans({}, 'cms') }}"
                            >
                                <span class="fas fa-chevron-right"></span>
                            </span>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% endif %}
    </div>
</div>


