{% set imagePosition = element.data.imagePosition %}
<div
    class="card card-imageposition-{{ imagePosition }} {{ element.data.styles is defined ? element.data.styles|join(' ') : '' }}"
    {% if edit %}
        data-uuid="{{ element.uuid }}"
        data-enabled="{{ (element.enabled ?? true) ? '1' : '0' }}"
        data-label="{{ element.elementName|trans }}"
        data-bg="bg-warning"
    {% endif %}
    {% if imagePosition == 'background-fitted' %} style="background-image: url({{ web_image(element.data.image).cropResize(1920, 1920) }}); background-size: cover;" {% endif %}
>

    {% if imagePosition == 'top' %}
        <img class="card-img-top" title="{{ element.data.title }}" alt="{{ element.data.title }}" src="{{ web_image(element.data.image).cropResize(1920, 1920) }}">
    {% endif %}

    {% if imagePosition == 'background' %}
        <img class="card-img" title="{{ element.data.title }}" alt="{{ element.data.title }}" src="{{ web_image(element.data.image).cropResize(1920, 1920) }}">
    {% endif %}

    <div class="{{ imagePosition == 'background' ? 'card-img-overlay' : 'card-body' }}">
        {% if element.data.title %}
            <h5 class="card-title">{{ element.data.title }}</h5>
        {% endif %}

        {{ element.data.text|raw }}

        {% if element.data.buttonText is defined %}
            {% if element.data.page.doctrineEntity is defined  %}
                {% set path = element.data.page.doctrineEntity.path %}
                <a class="btn btn-primary" href="{{ path }}">{{ element.data.buttonText }}</a>
            {% endif %}
        {% endif %}
    </div>

    {% if imagePosition == 'bottom' %}
        <img class="card-img-bottom" title="{{ element.data.title }}" alt="{{ element.data.title }}" src="{{ web_image(element.data.image).cropResize(1920, 1920) }}">
    {% endif %}
</div>
