<div
    {{ editorAttr(element, edit, 'bg-warning') }}
    class="card card-imageposition-{{ imagePosition }} {{ elementClasses(element) }}"
>
    <div class="row no-gutters h-100">
        <div class="col-12 col-md-7" style="background-image: url({{ web_image(element.data.image).cropResize(1920, 1920) }}); background-size: cover;">
            <div class="d-block d-md-none" style="width: 100%;padding-bottom: 60%;"></div>
        </div>
        <div class="col-12 col-md-5">
            <div class="card-body">
                {% if element.data.title %}
                    <h5 class="card-title">{{ element.data.title }}</h5>
                {% endif %}

                {{ element.data.text|raw }}

                {% if element.data.buttonText is defined %}
                    {% if element.data.page.doctrineEntity is defined  %}
                        {% set path = element.data.page.doctrineEntity.path %}
                        <a class="btn btn-primary" href="{{ path }}">{{ element.data.buttonText }}</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
