<div {% if edit %}data-uuid="{{ element.uuid }}" data-enabled="{{ (element.enabled ?? true) ? '1' : '0' }}" data-label="{{ element.elementName|trans }}" data-bg="bg-dark" data-disabled-actions="shift" data-children="{{ config.page_elements[element.elementName].children|join(',') }}"{% endif %} class="{{ element.data.section }}">
    {% if element.elements is defined %}
        {% for element in element.elements %}
            {% include config.page_elements[element.elementName].template %}
        {% endfor %}
    {% endif %}
</div>
