{% extends '@EasyAdminBase/default/layout.html.twig' %}

{% block header %}
    {# Removes easyadmin default header #}
{% endblock header %}

{% block main_menu_wrapper %}
    {{ render(controller('RevisionTen\\CMS\\Controller\\AdminController::websiteChooser')) }}

    {{ parent() }}

    <div class="mt-auto cms-site-chooser small bg-transparent border-top border-dark">
        <div class="mt-3 mb-3 hidden-xs editor-userinfo row no-gutters">
            <div class="col-auto pr-2 pt-1">
                {% if app.user.avatarUrl is defined and app.user.avatarUrl %}
                    <img src="{{ app.user.avatarUrl }}" class="rounded-circle img-fluid editor-avatar">
                {% else %}
                    <div class="editor-avatar-color" style="background: {{ app.user.color }};">
                        {{ app.user.username|first }}
                    </div>
                {% endif %}
            </div>
            <div class="col-auto">
                <span class="text-muted">{{ 'admin.label.loggedInAs'|trans({}, 'cms') }}</span><br/>
                {{ app.user.username|default('user.unnamed'|trans(domain = 'EasyAdminBundle')) }}<br/>
                <a href="{{ path('cms_logout') }}"><i class="fa fas fa-sign-out-alt"></i> {{ 'admin.btn.logout'|trans({}, 'cms') }}</a>
            </div>
        </div>
    </div>

{% endblock main_menu_wrapper %}
