{% extends '@EasyAdminBase/default/layout.html.twig' %}

{% block header %}
    {# Removes easyadmin default header #}
{% endblock header %}

{% block main_menu_wrapper %}
    <div class="main-header">
        {% block header_logo %}
            <div id="header-logo">
                <a class="logo {{ easyadmin_config('site_name')|length > 14 ? 'logo-long' }}" title="{{ easyadmin_config('site_name')|striptags }}" href="{{ path('cms_dashboard') }}">
                    {{ easyadmin_config('site_name')|raw }}
                </a>
            </div>
        {% endblock header_logo %}
    </div>

    <div class="hidden-xs text-center editor-userinfo">
        <div>
            {% if app.user.avatarUrl is defined and app.user.avatarUrl %}
                <img src="{{ app.user.avatarUrl }}" class="rounded-circle img-fluid editor-avatar">
            {% else %}
                <div class="editor-avatar-color" style="background: {{ app.user.color }};">
                    {{ app.user.username|first }}
                </div>
            {% endif %}
        </div>
        <span class="text-muted">{{ 'admin.label.loggedInAs'|trans({}, 'cms') }}</span><br/>
        {{ app.user.username|default('user.unnamed'|trans(domain = 'EasyAdminBundle')) }}
        <div>
            {{ render(controller('RevisionTen\\CMS\\Controller\\AdminController::websiteChooser')) }}
        </div>
    </div>
    {{ parent() }}
    <div class="mt-auto sidebar-menu tree">
        <a href="{{ path('cms_logout') }}"><i class="fa fas fa-sign-out-alt"></i> {{ 'admin.btn.logout'|trans({}, 'cms') }}</a>
    </div>
{% endblock main_menu_wrapper %}
