{% extends '@EasyAdminBase/default/layout.html.twig' %}

{% block main_menu_wrapper %}
    <div class="hidden-xs text-center editor-userinfo">
        <div>
            {% if app.user.avatarUrl is defined and app.user.avatarUrl %}
                <img src="{{ app.user.avatarUrl }}" class="rounded-circle img-fluid editor-avatar">
            {% else %}
                <div class="editor-avatar-color" style="background: {{ app.user.color }};">
                    {{ app.user.username|first }}
                </div>
            {% endif %}
        </div>
        <span class="text-muted">{{ 'You are logged in as'|trans }}</span><br/>
        {{ app.user.username|default('user.unnamed'|trans(domain = 'EasyAdminBundle')) }}
    </div>
    {{ parent() }}
{% endblock main_menu_wrapper %}
