{% extends '@EasyAdminBase/default/list.html.twig' %}

{% block new_action %}
    {# Check if the user has the permission to list the entity #}
    {% set permission  = action.permission ?? easyadmin_config('entities.'~_request_parameters.entity~'.permissions.new') %}
    {% set hasAccess = is_granted(permission ?? 'create_generic') %}

    {% if hasAccess %}
        <div class="button-action">
            <a class="{{ _action.css_class|default('') }}" href="{{ path('easyadmin', _request_parameters|merge({ action: _action.name })) }}" target="{{ _action.target }}">
                {% if _action.icon %}<i class="fa fa-{{ _action.icon }}"></i>{% endif %}
                {{ _action.label is defined and not _action.label is empty ? _action.label|trans(_trans_parameters) }}
            </a>
        </div>
    {% endif %}
{% endblock new_action %}

{% block search_action %}
    {# Check if the user has the permission to search the entity #}
    {% set permission  = action.permission ?? easyadmin_config('entities.'~_request_parameters.entity~'.permissions.search') %}
    {% set hasAccess = is_granted(permission ?? 'search_generic') %}

    {% if hasAccess %}
        {{ parent() }}
    {% endif %}
{% endblock search_action %}
