<li data-uuid="{{ item.uuid }}" class="border-top border-start level-{{ level }} {{ item.enabled is defined and item.enabled == false ? 'disabled' : '' }}">

    <div class="row gx-0">
        <div class="col p-2">
            <span class="fas fa-arrows-alt text-muted cms-admin-menu-item-move"></span>
            {% set titleTemplate = config['menu_items'][item.itemName]['admin_template'] ?? '@CMS/Backend/Menu/edit-item-title.html.twig' %}
            {% include titleTemplate %}
        </div>

        <div class="col-auto p-2">

            {% set btnClass = 'text-decoration-none me-2' %}

            <div class="dropdown d-inline-block" style="cursor: pointer;">
                <span class=dropdown-toggle" data-bs-toggle="dropdown">
                    <span class="fas fa-plus"></span>
                </span>
                <div class="dropdown-menu">
                    {% for itemName, itemConfig in config.menu_items %}
                        {% set websites = itemConfig.websites ?? null %}
                        {% if websites is empty or currentWebsite in websites %}
                            <a class="dropdown-item" href="{{ path('cms_menu_additem', {menuUuid: menu.uuid, itemName: itemName, onVersion: menu.version, parent: item.uuid}) }}">
                                {{ 'admin.btn.addMenuItem'|trans({'%itemName%': itemName|trans}, 'cms') }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div> &nbsp;

            {% if item.enabled is not defined or item.enabled %}
                <a class="{{ btnClass }}" title="{{ 'admin.btn.disable'|trans({}, 'cms') }}" href="{{ path('cms_menu_disableitem', {menuUuid: menu.uuid, itemUuid: item.uuid, onVersion: menu.version}) }}">
                    <span class="fas fa-eye"></span>
                </a> &nbsp;
            {% endif %}

            {% if item.enabled is defined and item.enabled == false %}
                <a class="{{ btnClass }} text-danger" title="{{ 'admin.btn.enable'|trans({}, 'cms') }}" href="{{ path('cms_menu_enableitem', {menuUuid: menu.uuid, itemUuid: item.uuid, onVersion: menu.version}) }}">
                    <span class="fas fa-eye-slash"></span>
                </a> &nbsp;
            {% endif %}

            <a class="{{ btnClass }}" title="{{ 'admin.btn.shiftUp'|trans({}, 'cms') }}" href="{{ path('cms_menu_shiftitem', {direction: 'up', menuUuid: menu.uuid, itemUuid: item.uuid, onVersion: menu.version}) }}">
                <span class="fas fa-arrow-up"></span>
            </a> &nbsp;

            <a class="{{ btnClass }}" title="{{ 'admin.btn.shiftDown'|trans({}, 'cms') }}" href="{{ path('cms_menu_shiftitem', {direction: 'down', menuUuid: menu.uuid, itemUuid: item.uuid, onVersion: menu.version}) }}">
                <span class="fas fa-arrow-down"></span>
            </a> &nbsp;

            <a class="{{ btnClass }}" title="{{ 'admin.btn.edit'|trans({}, 'cms') }}" href="{{ path('cms_menu_edititem', {menuUuid: menu.uuid, itemUuid: item.uuid, onVersion: menu.version}) }}">
                <span class="fas fa-edit"></span>
            </a> &nbsp;

            <a class="{{ btnClass }} text-danger" title="{{ 'admin.btn.delete'|trans({}, 'cms') }}" href="{{ path('cms_menu_deleteitem', {menuUuid: menu.uuid, itemUuid: item.uuid, onVersion: menu.version}) }}">
                <span class="fas fa-trash"></span>
            </a>
        </div>
    </div>

    <ul class="cms-admin-menu list-unstyled ps-3">
        {% if item.items is defined %}
            {% set level = level + 1 %}
            {% for item in item.items %}
                {% include '@CMS/Backend/Menu/edit-item.html.twig' %}
            {% endfor %}
        {% endif %}
    </ul>
</li>
