{% macro attributes(attributes) %}
    {% for attr, value in attributes %}
        {{ attr }}="{{ value }}"
    {% endfor %}
{% endmacro %}

{% import _self as helper %}

<div id="page-info">
    <div class="row justify-content-between">
        <div class="col-auto d-flex">
            {% if aliases is defined and aliases is iterable and aliases|length > 0 %}
                <div class="dropdown">
                    <button class="btn btn-tertiary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="fas fa-link"></span> <span class="label-text">{{ 'admin.label.aliases'|trans({}, 'cms') }}</span>
                    </button>
                    <div class="dropdown-menu">
                        {% set port = app.request.port and app.request.port != '80' and app.request.port != '443' ? ':' ~ app.request.port : null %}
                        {% for alias in aliases %}
                            <a class="dropdown-item text-dark" target="_blank" href="{{ alias.host(port) ? app.request.getScheme()~'://'~alias.host(port) : '' }}{{ alias.path }}">
                                {{ alias.host(port) }}{{ alias.path }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <span class="btn btn-sm font-weight-bold">
                {% if state == 'published' %}
                    {% set color = 'success' %}
                {% elseif state == 'unpublished' %}
                    {% set color = 'danger' %}
                {% elseif state == 'scheduled' %}
                    {% set color = 'warning' %}
                {% else %}
                    {% set color = 'info' %}
                {% endif %}
                <span class="text-muted">{{ 'admin.label.page'|trans({}, 'cms') }}</span> {{ title }} <small class="text-{{ color }}">({{ ('admin.label.'~state)|trans({}, 'cms') }})</small> <small class="text-muted">{% if previewUser %}<br/><a class="label label-primary" href="{{ path('cms_edit_aggregate', {id: id}) }}"><span style="text-transform: none;">{{ 'admin.label.viewedAs'|trans({'%username%': user.username}, 'cms')|raw }} <span class="fas fa-times"></span></span></a>{% endif %}</small>
            </span>

            {% if actions.schedule.display %}
                <div class="dropdown">
                    <button class="btn btn-tertiary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fas fa-clock"></span> <span class="label-text">{{ 'admin.label.schedule'|trans({}, 'cms') }}</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item {{ actions.schedule.css_class }}" {{ actions.schedule.attributes is defined ? helper.attributes(actions.schedule.attributes) : '' }} title="{{ actions.schedule.label }}" {{ actions.schedule.type == 'form' ? 'data-target=modal' : 'data-target='~actions.schedule.type~'' }} target="_top" href="{{ actions.schedule.url }}">
                            <span class="{{ actions.schedule.icon }}"></span> <span class="label-text">&nbsp;{{ actions.schedule.label }}</span>
                        </a>
                        {% for scheduleUuid, scheduleEntry in schedule %}
                            <a class="dropdown-item" data-target="ajax" href="{{ path('cms_remove_schedule', {'pageUuid': uuid, 'scheduleUuid': scheduleUuid, 'version': version}) }}">
                                <span class="fas fa-times"></span> {{ 'admin.label.removeSchedule'|trans({}, 'cms') }}:
                                <small>
                                    {% if scheduleEntry.startDate %}
                                        &nbsp;{{ 'admin.label.publishOn'|trans({'%date%': scheduleEntry.startDate|date('d.m.Y H:i')}, 'cms') }}
                                    {% endif %}
                                    {% if scheduleEntry.endDate %}
                                        &nbsp;{{ 'admin.label.unpublishOn'|trans({'%date%': scheduleEntry.endDate|date('d.m.Y H:i')}, 'cms') }}
                                    {% endif %}
                                </small>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-auto ml-auto">
            <form class="form-inline d-flex">
                {% apply spaceless %}

                <div class="btn-group">
                    {% if actions.preview.display %}
                        {% set deviceIcons = {
                            'AutoWidth': 'fas fa-expand',
                            'xs': 'fas fa-mobile-alt',
                            'sm': 'fas fa-mobile-alt',
                            'md': 'fas fa-tablet-alt',
                            'lg': 'fas fa-laptop',
                            'xl': 'fas fa-desktop'
                        } %}
                        <div class="btn-group">
                            <button title="{{ previewSize|trans }}" class="btn btn-tertiary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="{{ deviceIcons[previewSize] }}"></span> <span class="label-text">{{ ('admin.label.'~previewSize)|trans({}, 'cms') }}</span>
                            </button>
                            <div class="dropdown-menu">
                                {% set route = 'cms_edit_aggregate' %}
                                {% set queries = app.request.query.all %}
                                {% set queries = queries|merge({'id': id}) %}
                                <a class="dropdown-item" href="{{ path(route, queries|merge({'previewSize': 'AutoWidth'})) }}"><i class="{{ deviceIcons.AutoWidth }}"></i> {{ 'admin.label.autoWidth'|trans({}, 'cms') }}</a>
                                <a class="dropdown-item" href="{{ path(route, queries|merge({'previewSize': 'xs'})) }}"><i class="{{ deviceIcons.xs }}"></i> {{ 'admin.label.xs'|trans({}, 'cms') }}</a>
                                <a class="dropdown-item" href="{{ path(route, queries|merge({'previewSize': 'sm'})) }}"><i class="{{ deviceIcons.sm }}"></i> {{ 'admin.label.sm'|trans({}, 'cms') }}</a>
                                <a class="dropdown-item" href="{{ path(route, queries|merge({'previewSize': 'md'})) }}"><i class="{{ deviceIcons.md }}"></i> {{ 'admin.label.md'|trans({}, 'cms') }}</a>
                                <a class="dropdown-item" href="{{ path(route, queries|merge({'previewSize': 'lg'})) }}"><i class="{{ deviceIcons.lg }}"></i> {{ 'admin.label.lg'|trans({}, 'cms') }}</a>
                                <a class="dropdown-item" href="{{ path(route, queries|merge({'previewSize': 'xl'})) }}"><i class="{{ deviceIcons.xl }}"></i> {{ 'admin.label.xl'|trans({}, 'cms') }}</a>
                            </div>
                        </div>
                    {% endif %}

                    {% set buttonActions = [
                    actions.toggle_contrast,
                    actions.toggle_tree,
                    actions.preview,
                    actions.inspect,
                    ] %}
                    {% for action in buttonActions %}
                        {% if action.display %}
                            <a {{ action.attributes is defined ? helper.attributes(action.attributes) : '' }} title="{{ action.label }}" class="btn-label-fade btn btn-sm {{ action.css_class }}" {{ action.type == 'form' ? 'data-target=modal' : 'data-target='~action.type~'' }} target="_top" href="{{ action.url }}">
                                <span class="{{ action.icon }}"></span> <span class="label-text">{{ action.label }}</span>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="btn-group ml-3">
                    {% if actions.rollback_aggregate.display %}
                        <div class="btn-group">
                            {% set historyActions = [
                                actions.undo_change,
                                actions.rollback_aggregate,
                                actions.discard_changes
                            ] %}
                            <button class="btn btn-tertiary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fas fa-history"></span> <span class="badge badge-up">{{ version }}</span> <span class="label-text">{{ 'admin.label.history'|trans({}, 'cms') }}</span>
                            </button>
                            <div class="dropdown-menu">
                                {% for action in historyActions %}
                                    {% if action.display %}
                                        <a class="dropdown-item text-{{ action.css_class }}" {{ action.type == 'form' ? 'data-target=modal' : 'data-target='~action.type~'' }} target="_top" href="{{ action.url }}">
                                            <span class="{{ action.icon }}"></span> {{ action.label }}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    {% set buttonActions = [
                        actions.change_pagesettings,
                        actions.optimize,
                    ] %}

                    {% for action in buttonActions %}
                        {% if action and action.display %}
                            <a {{ action.attributes is defined ? helper.attributes(action.attributes) : '' }}
                                title="{{ action.label }}"
                                class="btn-label-fade btn btn-sm {{ action.css_class }}"
                                {{ action.type == 'form' ? 'data-target=modal' : 'data-target='~action.type~'' }}
                                target="_top" href="{{ action.url }}"
                            >
                                <span class="{{ action.icon }}"></span> <span class="label-text">&nbsp;{{ action.label }}</span>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="btn-group ml-3">
                    {% set buttonActions = [
                        actions.clone_aggregate,
                        actions.delete_aggregate
                    ] %}

                    {% for action in buttonActions %}
                        {% if action and action.display %}
                            <a {{ action.attributes is defined ? helper.attributes(action.attributes) : '' }}
                                    title="{{ action.label }}"
                                    class="btn-label-fade btn btn-sm {{ action.css_class }}"
                                    {{ action.type == 'form' ? 'data-target=modal' : 'data-target='~action.type~'' }}
                                    target="_top" href="{{ action.url }}"
                            >
                                <span class="{{ action.icon }}"></span> <span class="label-text">&nbsp;{{ action.label }}</span>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="btn-group ml-3">
                    {% set buttonActions = [
                        actions.publish,
                        actions.unpublish,
                        actions.submit_changes
                    ] %}

                    {% for action in buttonActions %}
                        {% if action and action.display %}
                            <a {{ action.attributes is defined ? helper.attributes(action.attributes) : '' }}
                                    title="{{ action.label }}"
                                    class="btn-label-fade btn btn-sm {{ action.css_class }}"
                                    {{ action.type == 'form' ? 'data-target=modal' : 'data-target='~action.type~'' }}
                                    target="_top" href="{{ action.url }}"
                            >
                                <span class="{{ action.icon }}"></span> <span class="label-text">&nbsp;{{ action.label }}</span>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="btn-group ml-3">
                    <span class="btn btn-sm btn-maximize-editor" title="{{ 'admin.btn.maximizeEditor'|trans({}, 'cms') }}">
                        <span class="fas fa-expand-arrows-alt"></span>
                    </span>
                    <span class="btn btn-sm btn-minimize-editor d-none" title="{{ 'admin.btn.minimizeEditor'|trans({}, 'cms') }}">
                        <span class="fas fa-compress-arrows-alt"></span>
                    </span>
                </div>

                {% endapply %}
            </form>
        </div>
    </div>
</div>

<div class="qeued  mb-5">
    {% for userData in users %}
        {% set user = userData.user %}
        {% set count = userData.events|length %}
        <a class="qeued-user row no-gutters align-items-center p-3 mt-3" href="{{ path('cms_edit_aggregate', {user: user.id, id: id}) }}">
            <div class="col-auto">
                <div class="qeued-user-icon">
                    {% include '@cms/Admin/User/medium.html.twig' %} <span class="badge badge-up badge-danger">{{ count }}</span>
                </div>
            </div>
            <div class="col-auto">
                <div class="pl-3 qeued-user-text">
                    {{ 'admin.label.otherUserHasEvents'|trans({'%username%': user.username, '%count%': count}, 'cms')|raw }}
                </div>
            </div>
        </a>
    {% endfor %}
</div>
