{% macro attributes(attributes) %}
    {% for attr, value in attributes %}
        {{ attr }}="{{ value }}"
    {% endfor %}
{% endmacro %}

{% import _self as helper %}

<div id="page-info">
    <div class="row justify-content-between">
        <div class="col-auto d-flex">
            {% if aliases is defined and aliases is iterable and aliases|length > 0 %}
                <div class="dropdown mr-3">
                    <button class="btn btn-tertiary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="fas fa-link"></span> <span class="label-text">{{ 'Aliases'|trans }}</span>
                    </button>
                    <div class="dropdown-menu">
                        {% for alias in aliases %}
                            <a class="dropdown-item text-dark" target="_blank" href="{{ alias.host ? app.request.getScheme()~'://'~alias.host : '' }}{{ alias.path }}">
                                {{ alias.host }}{{ alias.path }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <span class="btn btn-sm font-weight-bold">
                {% if state == 'published' %}
                    {% set color = 'success' %}
                {% elseif state == 'unpublished' %}
                    {% set color = 'danger' %}
                {% elseif state == 'scheduled' %}
                    {% set color = 'warning' %}
                {% else %}
                    {% set color = 'info' %}
                {% endif %}
                <span class="text-muted">{{ 'Page'|trans }}</span> {{ title }} <small class="text-{{ color }}">({{ state|capitalize|trans }})</small> <small class="text-muted">{% if previewUser %}<br/><a class="label label-primary" href="{{ path('cms_edit_aggregate', {id: id}) }}"><span style="text-transform: none;">{{ 'viewed as %username%'|trans({'%username%': user.username})|raw }} <span class="fas fa-times"></span></span></a>{% endif %}</small>
            </span>

            {% if actions.schedule.display %}
                <div class="dropdown">
                    <button class="btn btn-tertiary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fas fa-clock"></span> <span class="label-text">{{ 'Schedule'|trans }}</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item {{ actions.schedule.css_class }}" {{ actions.schedule.attributes is defined ? helper.attributes(actions.schedule.attributes) : '' }} title="{{ actions.schedule.label }}" {{ actions.schedule.type == 'form' ? 'data-target=parent' : 'data-target='~actions.schedule.type~'' }} target="_top" href="{{ actions.schedule.url }}">
                            <span class="{{ actions.schedule.icon }}"></span> <span class="label-text">&nbsp;{{ actions.schedule.label }}</span>
                        </a>
                        {% for scheduleUuid, scheduleEntry in schedule %}
                            <a class="dropdown-item" data-target="ajax" href="{{ path('cms_remove_schedule', {'pageUuid': uuid, 'scheduleUuid': scheduleUuid, 'version': version}) }}">
                                <span class="fas fa-times"></span> {{ 'Remove schedule'|trans }}:
                                <small>
                                    {% if scheduleEntry.startDate %}
                                        &nbsp;{{ 'Publish on %date%'|trans({'%date%': scheduleEntry.startDate|date('d.m.Y H:i')}) }}
                                    {% endif %}
                                    {% if scheduleEntry.endDate %}
                                        &nbsp;{{ 'Unpublish on %date%'|trans({'%date%': scheduleEntry.endDate|date('d.m.Y H:i')}) }}
                                    {% endif %}
                                </small>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-auto ml-auto">
            <form class="form-inline d-flex">
                {% apply spaceless %}

                {% if actions.preview.display %}
                    {% set deviceIcons = {
                        'AutoWidth': 'fas fa-expand',
                        'xs': 'fas fa-mobile-alt',
                        'sm': 'fas fa-mobile-alt',
                        'md': 'fas fa-tablet-alt',
                        'lg': 'fas fa-laptop',
                        'xl': 'fas fa-desktop'
                    } %}
                    <div class="dropdown">
                        <button title="{{ previewSize|trans }}" class="btn btn-tertiary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="{{ deviceIcons[previewSize] }}"></span> <span class="label-text">{{ previewSize|trans }}</span>
                        </button>
                        <div class="dropdown-menu">
                            {% set route = 'cms_edit_aggregate' %}
                            {% set queries = app.request.query.all %}
                            {% set queries = queries|merge({'id': id}) %}
                            <a class="dropdown-item" href="{{ path(route, queries|merge({'previewSize': 'AutoWidth'})) }}"><i class="{{ deviceIcons.AutoWidth }}"></i> {{ 'AutoWidth'|trans }}</a>
                            <a class="dropdown-item" href="{{ path(route, queries|merge({'previewSize': 'xs'})) }}"><i class="{{ deviceIcons.xs }}"></i> {{ 'xs'|trans }}</a>
                            <a class="dropdown-item" href="{{ path(route, queries|merge({'previewSize': 'sm'})) }}"><i class="{{ deviceIcons.sm }}"></i> {{ 'sm'|trans }}</a>
                            <a class="dropdown-item" href="{{ path(route, queries|merge({'previewSize': 'md'})) }}"><i class="{{ deviceIcons.md }}"></i> {{ 'md'|trans }}</a>
                            <a class="dropdown-item" href="{{ path(route, queries|merge({'previewSize': 'lg'})) }}"><i class="{{ deviceIcons.lg }}"></i> {{ 'lg'|trans }}</a>
                            <a class="dropdown-item" href="{{ path(route, queries|merge({'previewSize': 'xl'})) }}"><i class="{{ deviceIcons.xl }}"></i> {{ 'xl'|trans }}</a>
                        </div>
                    </div>
                {% endif %}

                <div class="btn-group">
                    {% set buttonActions = [
                    actions.toggle_contrast,
                    actions.toggle_tree,
                    actions.preview,
                    ] %}
                    {% for action in buttonActions %}
                        {% if action.display %}
                            <a {{ action.attributes is defined ? helper.attributes(action.attributes) : '' }} title="{{ action.label }}" class="btn-label-fade btn btn-sm {{ action.css_class }}" {{ action.type == 'form' ? 'data-target=parent' : 'data-target='~action.type~'' }} target="_top" href="{{ action.url }}">
                                <span class="{{ action.icon }}"></span> <span class="label-text">{{ action.label }}</span>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

                {% if actions.rollback_aggregate.display %}
                    <div class="dropdown ml-3">
                        {% set historyActions = [
                        actions.undo_change,
                        actions.rollback_aggregate,
                        actions.discard_changes
                        ] %}
                        <button class="btn btn-tertiary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fas fa-history"></span> <span class="badge badge-up">{{ version }}</span> <span class="label-text">{{ 'History'|trans }}</span>
                        </button>
                        <div class="dropdown-menu">
                            {% for action in historyActions %}
                                {% if action.display %}
                                    <a class="dropdown-item text-{{ action.css_class }}" {{ action.type == 'form' ? 'data-target=parent' : 'data-target='~action.type~'' }} target="_top" href="{{ action.url }}">
                                        <span class="{{ action.icon }}"></span> {{ action.label }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                <div class="btn-group">
                    {% set buttonActions = [
                    actions.change_pagesettings,
                    actions.publish,
                    actions.unpublish,
                    actions.optimize,
                    actions.submit_changes,
                    actions.clone_aggregate,
                    actions.delete_aggregate
                    ] %}

                    {% for action in buttonActions %}
                        {% if action and action.display %}
                            <a {{ action.attributes is defined ? helper.attributes(action.attributes) : '' }} title="{{ action.label }}" class="btn-label-fade btn btn-sm {{ action.css_class }}" {{ action.type == 'form' ? 'data-target=parent' : 'data-target='~action.type~'' }} target="_top" href="{{ action.url }}">
                                <span class="{{ action.icon }}"></span> <span class="label-text">&nbsp;{{ action.label }}</span>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

                {% endapply %}
            </form>
        </div>
    </div>
</div>

<div class="qeued  mb-5">
    {% for userData in users %}
        {% set user = userData.user %}
        {% set count = userData.events|length %}
        <a class="qeued-user row no-gutters align-items-center p-3 mt-3" href="{{ path('cms_edit_aggregate', {user: user.id, id: id}) }}">
            <div class="col-auto">
                <div class="qeued-user-icon">
                    {% include '@cms/Admin/User/medium.html.twig' %} <span class="badge badge-up badge-danger">{{ count }}</span>
                </div>
            </div>
            <div class="col-auto">
                <div class="pl-3 qeued-user-text">
                    {{ 'User <strong>%username%</strong> <br/>has <strong>%count%</strong> qeued events'|trans({'%username%': user.username, '%count%': count})|raw }}
                </div>
            </div>
        </a>
    {% endfor %}
</div>
