<li data-uuid="{{ item.uuid }}" class="level-{{ level }} {{ item.enabled is defined and item.enabled == false ? 'disabled' : '' }}">

    <div class="row clearfix pl-3 pr-3">
        <div class="col pull-left p-2">
            <i class="fas fa-arrows-alt text-muted cms-admin-menu-item-move"></i>
            {% set titleTemplate = config['menu_items'][item.itemName]['admin_template'] ?? '@cms/Admin/Menu/edit-item-title.html.twig' %}
            {% include titleTemplate %}
        </div>

        <div class="col-auto pull-right p-2 ml-auto">

            <div class="dropleft" style="display: inline-block;">
                <span class=dropdown-toggle" data-toggle="dropdown">
                    <span class="fas fa-plus"></span>
                </span>
                <div class="dropdown-menu">
                    {% for itemName, itemConfig in config.menu_items %}
                        <a class="dropdown-item" href="{{ path('cms_menu_additem', {menuUuid: menu.uuid, itemName: itemName, onVersion: menu.version, parent: item.uuid}) }}">
                            {{ 'admin.btn.addMenuItem'|trans({'%itemName%': itemName|trans}, 'cms') }}
                        </a>
                    {% endfor %}
                </div>
            </div> &nbsp;

            {% if item.enabled is not defined or item.enabled %}
                <a title="{{ 'admin.btn.disable'|trans({}, 'cms') }}" href="{{ path('cms_menu_disableitem', {menuUuid: menu.uuid, itemUuid: item.uuid, onVersion: menu.version}) }}">
                    <span class="fas fa-eye"></span>
                </a> &nbsp;
            {% endif %}

            {% if item.enabled is defined and item.enabled == false %}
                <a class="text-danger" title="{{ 'admin.btn.enable'|trans({}, 'cms') }}" href="{{ path('cms_menu_enableitem', {menuUuid: menu.uuid, itemUuid: item.uuid, onVersion: menu.version}) }}">
                    <span class="fas fa-eye-slash"></span>
                </a> &nbsp;
            {% endif %}

            <a title="{{ 'admin.btn.shiftUp'|trans({}, 'cms') }}" href="{{ path('cms_menu_shiftitem', {direction: 'up', menuUuid: menu.uuid, itemUuid: item.uuid, onVersion: menu.version}) }}">
                <span class="fas fa-arrow-up"></span>
            </a> &nbsp;

            <a title="{{ 'admin.btn.shiftDown'|trans({}, 'cms') }}" href="{{ path('cms_menu_shiftitem', {direction: 'down', menuUuid: menu.uuid, itemUuid: item.uuid, onVersion: menu.version}) }}">
                <span class="fas fa-arrow-down"></span>
            </a> &nbsp;

            <a title="{{ 'admin.btn.edit'|trans({}, 'cms') }}" href="{{ path('cms_menu_edititem', {menuUuid: menu.uuid, itemUuid: item.uuid, onVersion: menu.version}) }}">
                <span class="fas fa-edit"></span>
            </a> &nbsp;

            <a title="{{ 'admin.btn.delete'|trans({}, 'cms') }}" class="text-danger" href="{{ path('cms_menu_deleteitem', {menuUuid: menu.uuid, itemUuid: item.uuid, onVersion: menu.version}) }}">
                <span class="fas fa-trash"></span>
            </a>
        </div>
    </div>

    <ul class="cms-admin-menu">
        {% if item.items is defined %}
            {% set level = level + 1 %}
            {% for item in item.items %}
                {% include '@cms/Admin/Menu/edit-item.html.twig' %}
            {% endfor %}
        {% endif %}
    </ul>
</li>
