{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title %}{{ 'admin.label.editMenu'|trans({'%menu%': menu.name|trans}, 'cms') }} <span class="text-muted pull-right">{{ menu.language }} | {{ render(controller('RevisionTen\\CMS\\Controller\\AdminController::websiteTitle', {'id': menu.website})) }}</span>{% endblock %}

{% block main %}
    <ul style="margin: -1px;" data-uuid="{{ menu.uuid }}" data-version="{{ menu.version }}" class="cms-admin-menu cms-admin-menu-root">
        {% for item in menu.items %}
            {% set level = 0 %}
            {% include '@cms/Admin/Menu/edit-item.html.twig' %}
        {% endfor %}
    </ul>
{% endblock %}

{% block content_footer %}
    <div class="row">
        <div class="col-auto">
            <div class="dropup" style="display: inline-block;">
                <span class="dropdown-toggle btn btn-primary" data-toggle="dropdown">
                    <span class="fas fa-plus"></span> {{ 'admin.btn.addGenericMenuItem'|trans({}, 'cms') }}
                </span>
                <div class="dropdown-menu">
                    {% for itemName, itemConfig in config.menu_items %}
                        <a class="dropdown-item" href="{{ path('cms_menu_additem', {menuUuid: menu.uuid, itemName: itemName, onVersion: menu.version, parent: null}) }}">
                            {{ 'admin.btn.addMenuItem'|trans({'%itemName%': itemName|trans}, 'cms') }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-auto ml-auto">
            <button class="btn-save-order btn btn-success" data-uuid="{{ menu.uuid }}">{{ 'admin.btn.saveMenuOrder'|trans({}, 'cms') }}</button>
        </div>
    </div>
{% endblock %}
